{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block 'title' %}{% trans 'Cookies policy' %}{% endblock %}
{% block 'content' %} 


    <div class="col-lg-4 col-md-12 mx-auto p-3 py-md-5"  style="min-height: 100vh;">
        
      {% if LANGUAGE_CODE|lower == 'es' %}
      <section style="padding: 5% 5% 5% 5%; background-color: #eee;"> 
        <div> 

         <h1>¿Cuál es la política de cookies?</h1> 
         <p>Gastrogune.eus le informa y usted entrega su consentimiento para que se puedan utilizar cookies en nuestro portal, sea por la navegación, como mediante la aceptación expresa realizada en el aviso con el objetivo de cumplir con lo establecido en el artículo 22.2 de la Ley de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI) y en adecuación con la Directiva Europea 2009/136/CE, </p> 
        </div> 
        <h2>¿Qué son las cookies?</h2> 
        <p>Al acceder a determinadas páginas web, un fichero llamado “Cookie” es descargado en su ordenador. Con el objetivo de almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p> 
        <h2>¿Qué tipología tienen las cookies</h2> 
        <h3>Por entidad que las gestione:</h3> 
        <p>Cookies propias: son aquéllas que se envían al equipo terminal del usuario desde un equipo gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario. Cookies de tercero: son aquéllas que se envían al equipo terminal del usuario desde un equipo que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través de las cookies.</p> 
        

        <h3>Los que dependen del tiempo que permanecen activadas:</h3> 
        <p>Con cookies de sesión: las que están diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Cookies persistentes: son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie.</p> 
        <h3>Por su finalidad:</h3> 
        <p>Cookies técnicas: son aquéllas que permiten al usuario la navegación a través de la página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existen. Por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</p> 
        <p>Cookies de personalización: son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en su terminal o que el propio usuario defina. Por ejemplo, el idioma, el tipo de navegador a través del cual accede al servicio, el diseño de contenidos seleccionado, geolocalización del terminal y la configuración regional desde donde se accede al servicio, etc.</p> 
        <p>Cookies de análisis: son aquéllas que permiten realizar el seguimiento y análisis del comportamiento de los usuarios en los sitios web. La información recogida mediante este tipo de ‘cookies’ se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, con el fin de introducir mejoras en el servicio en función de los datos de uso que hacen los usuarios.</p> 
        <p>Cookies publicitarias: son aquéllas que permiten la gestión eficaz de los espacios publicitarios que se han incluido en la página web o aplicación desde la que se presta el servicio en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.</p> 
        <p>Cookies de publicidad comportamental: son aquellas que permiten la gestión eficaz de los espacios publicitarios que se han incluido en la página web o aplicación desde la que se presta el servicio. Estas cookies almacenan información del comportamiento de los usuarios a través de la observación permitiendo posteriormente desarrollar un perfil específico para mostrar publicidad en función del mismo.</p> 
        <h2>Cómo se configuran las cookies</h2> 
        <p>Le informamos que se puede configurar el navegador para rechazar o aceptar las cookies, o configurar el navegador para que estas cookies se borren automáticamente una vez que se cierre el navegador, equipo o dispositivo.</p> 
        

        <h3>De la siguiente manera se puede observar cómo se modifican las cookies de diferentes navegadores:</h3> 
        <ul> 
         <li>Google Chrome&gt;Configuración&gt;Mostrar opciones avanzadas&gt;Privacidad&gt;Configuración de contenido&gt;Cookies.</li> 
         <li>Firefox&gt;Herramientas&gt;Opciones&gt;Privacidad&gt;Historial&gt;Configuración personalizada.</li> 
         <li>Internet Explorer&gt;Herramientas&gt;Opciones de Internet&gt;Privacidad&gt;Avanzada.</li> 
         <li>Safari&gt;Preferencias&gt;Privacidad.</li> 
        </ul> 
        <p>Además hay que tener en cuenta que si comparte contenido del portal web con amigos a través de redes sociales como Facebook y Twitter, es posible que reciba cookies de esos sitios web. No podemos controlar los ajustes de las cookies de terceros, por lo que le sugerimos que compruebe los sitios web de dichos terceros para obtener más información sobre sus cookies y cómo gestionarlas.</p> 
        <h2>Actualizaciones y cambios en la política de privacidad / cookies:</h2> 
        <p>Gastrogune.eus puede modificar esta Política de Cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por ello se aconseja a los Usuarios que la visiten periódicamente.</p> 
        <p>Cuando se produzcan cambios significativos en esta Política de Cookies, se comunicarán a los Usuarios mediante la web.</p> 
       
      </section> 




      {% elif LANGUAGE_CODE|lower == 'en' %}
      <section style="padding: 5% 5% 5% 5%; background-color: #eee;"> 
        <div> 

          <h1>What is the cookie policy?</h1>
          <p>Gastrogune.eus informs you and you give your consent so that cookies can be used on our portal, either by browsing, or through the express acceptance made in the notice in order to comply with the provisions of article 22.2 of the Law on Services of the Information Society and Electronic Commerce (LSSI) and in accordance with the European Directive 2009/136/CE, </p>
         </div>
         <h2>What are cookies?</h2>
         <p>When accessing certain web pages, a file called “Cookie” is downloaded to your computer. In order to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way they use their equipment, they can be used to recognize the user.</p>
         <h2>What type do cookies have</h2>
         <h3>By entity that manages them:</h3>
         <p>Own cookies: are those that are sent to the user's terminal equipment from a computer managed by the editor itself and from which the service requested by the user is provided. Third-party cookies: are those that are sent to the user's terminal equipment from a computer that is not managed by the publisher, but by another entity that processes the data obtained through cookies.</p>

         <h3>Those that depend on the time they remain activated:</h3>
         <p>With session cookies: those that are designed to collect and store data while the user accesses a web page. Persistent cookies: they are a type of cookies in which the data is still stored in the terminal and can be accessed and processed during a period defined by the person responsible for the cookie.</p>
         <h3>By its purpose:</h3>
         <p>Technical cookies: are those that allow the user to navigate through the web page, platform or application and the use of the different options or services that exist in it. For example, control the traffic and data communication, identify the session, access restricted access parts, remember the elements that make up an order, make the request for registration or participation in an event, use security elements during navigation, store content for the dissemination of videos or sound or share content through social networks.</p>
         <p>Personalization cookies: are those that allow the user to access the service with some general characteristics predefined in their terminal or that the user defines. For example, the language, the type of browser through which the service is accessed, the selected content design, the geolocation of the terminal and the regional configuration from which the service is accessed, etc.</p>
        
         <p>Analysis cookies: are those that allow monitoring and analysis of user behavior on websites. The information collected through this type of 'cookies' is used to measure the activity of websites, applications or platforms and to create browsing profiles of the users of said sites, in order to introduce improvements in the service. based on usage data made by users.</p>
         <p>Advertising cookies: are those that allow the effective management of the advertising spaces that have been included in the web page or application from which the service is provided based on criteria such as the edited content or the frequency in which they are displayed. the ads.</p>
         <p> Behavioral advertising cookies: are those that allow the effective management of the advertising spaces that have been included in the web page or application from which the service is provided. These cookies store information on user behavior through observation, subsequently allowing the development of a specific profile to display advertising based on it.</p>
         <h2>How cookies are configured</h2>
         <p>We inform you that you can configure the browser to reject or accept cookies, or configure the browser so that these cookies are automatically deleted once the browser, computer or device is closed.</p>
        
        
         <h3>In the following way you can see how the cookies of different browsers are modified:</h3>
         <ul>
          <li>Google Chrome>Settings>Show advanced options>Privacy>Content settings>Cookies.</li>
          <li>Firefox>Tools>Options>Privacy>History>Custom settings.</li>
          <li>Internet Explorer>Tools>Internet Options>Privacy>Advanced.</li>
          <li>Safari>Preferences>Privacy.</li>
         </ul>
         <p>Also, keep in mind that if you share content from the web portal with friends through social networks such as Facebook and Twitter, you may receive cookies from those websites. We cannot control third-party cookie settings, so we suggest you check those third-party websites for more information about their cookies and how to manage them.</p>
         <h2>Updates and changes in the privacy / cookie policy:</h2>
         <p>Gastrogune.eus may modify this Cookies Policy based on legislative or regulatory requirements, or in order to adapt said policy to the instructions issued by the Spanish Agency for Data Protection, therefore Users are advised to visit periodically.</p>
         <p>When there are significant changes in this Cookies Policy, they will be communicated to the Users through the web.</p>
       
      </section> 




      {% elif LANGUAGE_CODE|lower == 'eu' %}
      <section style="padding: 5% 5% 5% 5%; background-color: #eee;"> 
        <div> 

          <h1>Zer da cookieen politika?</h1>
          <p>Gastrogune.eus-ek jakinarazten dizu eta zure baimena ematen duzu cookieak gure atarian erabili ahal izateko, bai nabigatuz, bai oharrean egindako berariazko onarpenaren bidez, Legearen 22.2 artikuluan ezarritakoa betetzeko. Informazioaren Gizartearen eta Merkataritza Elektronikoaren Zerbitzuak (LSSI) eta Europako 2009/136/CE Zuzentarauaren arabera, </p>
         </div>
         <h2>Zer dira cookieak?</h2>
         <p>Web orri jakin batzuetan sartzean, "Cookie" izeneko fitxategi bat deskargatzen da zure ordenagailura. Erabiltzaile baten edo bere ekipoen nabigazio-ohiturei buruzko informazioa gordetzeko eta berreskuratzeko eta, daukaten informazioaren eta ekipoa erabiltzeko moduaren arabera, erabiltzailea ezagutzeko erabil daitezke.</p>
         <h2>Zer motatako cookie-ak</h2>
         <h3>Hauek kudeatzen dituen entitatearen arabera:</h3>
         <p>Cookie propioak: editoreak berak kudeatzen duen ordenagailu batetik erabiltzailearen ekipo terminalera bidaltzen direnak eta erabiltzaileak eskatutako zerbitzua ematen duenak dira. Hirugarrenen cookieak: argitaletxeak kudeatzen ez duen ordenagailu batetik erabiltzailearen ekipo terminalera bidaltzen direnak dira, cookieen bidez lortutako datuak tratatzen dituen beste entitate batetik baizik.</p>

         <h3>Aktibatuta geratzen diren denboraren araberakoak:</h3>
         <p>Saioko cookieekin: erabiltzailea web orri batera sartzen den bitartean datuak biltzeko eta gordetzeko diseinatuta daudenak. Cookie iraunkorrak: datuak oraindik terminalean gordetzen diren eta cookiearen arduradunak zehaztutako epe batean atzitu eta trata daitezkeen cookie mota bat dira.</p>
         <h3>Haren xedearen arabera:</h3>
         <p>Cookie teknikoak: erabiltzaileari web orrialdean, plataforman edo aplikazioan nabigatzeko eta bertan dauden aukera edo zerbitzu desberdinak erabiltzeko aukera ematen diotenak dira. Esaterako, trafikoa eta datuen komunikazioa kontrolatzea, saioa identifikatzea, sarbide mugatuko zatiak atzitzea, eskaera bat osatzen duten elementuak gogoratzea, izena emateko edo ekitaldi batean parte hartzeko eskaera egitea, nabigazioan segurtasun elementuak erabiltzea, zabalkunderako edukia gordetzea. bideoak edo soinuak edo edukiak partekatu sare sozialen bidez.</p>
         <p>Pertsonalizazio cookieak: erabiltzaileari bere terminalean aurrez zehaztutako edo erabiltzaileak zehazten dituen ezaugarri orokor batzuk dituzten zerbitzura sartzeko aukera ematen diotenak dira. Esaterako, hizkuntza, zerbitzua sartzeko nabigatzaile mota, aukeratutako edukien diseinua, terminalaren geokokapena eta zerbitzua sartzeko eskualdeko konfigurazioa, etab.</p>
        
         <p>Analisi cookieak: webguneetan erabiltzaileen portaeraren jarraipena eta analisia ahalbidetzen dutenak dira. Mota honetako 'cookie'en bidez bildutako informazioa webguneen, aplikazioen edo plataformen jarduera neurtzeko eta gune horien erabiltzaileen nabigazio-profilak sortzeko erabiltzen da, erabiltzaileek egindako erabilera-datuetan oinarrituta zerbitzuan hobekuntzak sartzeko. .</p>
         <p>Publizitate-cookieak: zerbitzua ematen den web-orrian edo aplikazioan sartu diren publizitate-espazioen kudeaketa eraginkorra ahalbidetzen dutenak dira, editatutako edukia edo bistaratzeko maiztasuna bezalako irizpideen arabera. iragarkiak.</p>
         <p> Jokabide-publizitate-cookieak: zerbitzua ematen den web orrian edo aplikazioan sartu diren publizitate-espazioen kudeaketa eraginkorra ahalbidetzen dutenak dira. Cookie hauek behaketaren bidez erabiltzailearen jokabideari buruzko informazioa gordetzen dute, eta, ondoren, profil zehatz bat garatzea ahalbidetzen dute bertan oinarritutako publizitatea bistaratzeko.</p>
         <h2>Cookieak nola konfiguratzen diren</h2>
         <p>Jakinarazten dizugu arakatzailea konfigura dezakezula cookieak baztertzeko edo onar ditzan, edo arakatzailea konfiguratu dezakezula cookie horiek automatikoki ezaba daitezen arakatzailea, ordenagailua edo gailua itxitakoan.</p>
        
        
         <h3>Ondoko era honetan ikus dezakezu nola aldatzen diren arakatzaile ezberdinen cookieak:</h3>
         <ul>
          <li>Google Chrome>Ezarpenak>Erakutsi aukera aurreratuak>Pribatutasuna>Edukiaren ezarpenak>Cookieak.</li>
          <li>Firefox>Tresnak>Aukerak>Pribatutasuna>Historia>Ezarpen pertsonalizatuak.</li>
          <li>Internet Explorer>Tresnak>Interneteko aukerak>Pribatutasuna>Aurreratua.</li>
          <li>Safari>Hobespenak>Pribatutasuna.</li>
         </ul>
         <p>Era berean, gogoan izan web atariko edukia lagunekin partekatzen baduzu Facebook eta Twitter bezalako sare sozialen bidez, webgune horietako cookieak jaso ditzakezula. Ezin dugu hirugarrenen cookieen ezarpenak kontrolatu, beraz, hirugarrenen webgune horiek aztertzea gomendatzen dizugu haien cookieei eta kudeatu nola kudeatu buruzko informazio gehiago lortzeko.</p>
         <h2>Pribatutasun/cookie politikaren eguneraketak eta aldaketak:</h2>
         <p>Gastrogune.eus-ek Cookieen Politika hau alda dezake legegintzako edo arauzko eskakizunen arabera, edo politika hori Datuak Babesteko Espainiako Agentziak emandako jarraibideetara egokitzeko, beraz, Erabiltzaileei gomendatzen zaie aldian-aldian bisitatzea.</p>
         <p>Cookien Politika honetan aldaketa nabarmenak daudenean, Erabiltzaileei jakinaraziko zaie webaren bidez.</p>
       
      </section> 



      {% elif LANGUAGE_CODE|lower == 'fr' %}
      <section style="padding: 5% 5% 5% 5%; background-color: #eee;"> 
        <div> 

          <h1>Quelle est la politique relative aux cookies ?</h1>
          <p>Gastrogune.eus vous informe et vous donnez votre consentement pour que des cookies puissent être utilisés sur notre portail, soit par la navigation, soit par l'acceptation expresse faite dans la notice afin de se conformer aux dispositions de l'article 22.2 de la Loi sur Services de la société de l'information et du commerce électronique (LSSI) et conformément à la directive européenne 2009/136/CE, </p>
         </div>
         <h2>Que sont les cookies ?</h2>
         <p>Lorsque vous accédez à certaines pages Web, un fichier appelé "Cookie" est téléchargé sur votre ordinateur. Afin de stocker et de récupérer des informations sur les habitudes de navigation d'un utilisateur ou de son équipement et, selon les informations qu'ils contiennent et la façon dont ils utilisent leur équipement, ils peuvent être utilisés pour reconnaître l'utilisateur.</p>
         <h2>De quel type sont les cookies</h2>
         <h3>Par entité qui les gère :</h3>
         <p>Cookies propres : ce sont ceux qui sont envoyés à l'équipement terminal de l'utilisateur à partir d'un ordinateur géré par l'éditeur lui-même et à partir duquel le service demandé par l'utilisateur est fourni. Cookies tiers : ce sont ceux qui sont envoyés à l'équipement terminal de l'utilisateur à partir d'un ordinateur qui n'est pas géré par l'éditeur, mais par une autre entité qui traite les données obtenues grâce aux cookies.</p> 

         <h3>Ceux qui dépendent du temps pendant lequel ils restent activés :</h3>
         <p>Avec les cookies de session : ceux qui sont conçus pour collecter et stocker des données pendant que l'utilisateur accède à une page Web. Cookies persistants : il s'agit d'un type de cookies dans lesquels les données sont toujours stockées dans le terminal et peuvent être consultées et traitées pendant une période définie par la personne responsable du cookie.</p>
         <h3>Par son objectif :</h3>
         <p>Cookies techniques : ce sont ceux qui permettent à l'utilisateur de naviguer sur la page Web, la plate-forme ou l'application et d'utiliser les différentes options ou services qui y existent. Par exemple, contrôler le trafic et la communication des données, identifier la session, accéder aux parties à accès restreint, mémoriser les éléments qui composent une commande, faire la demande d'inscription ou de participation à un événement, utiliser des éléments de sécurité lors de la navigation, stocker du contenu pour la diffusion de vidéos ou de sons ou partager du contenu via les réseaux sociaux.</p>
         <p>Cookies de personnalisation : ce sont ceux qui permettent à l'utilisateur d'accéder au service avec certaines caractéristiques générales prédéfinies dans son terminal ou que l'utilisateur définit. Par exemple, la langue, le type de navigateur via lequel le service est accessible, la conception du contenu sélectionné, la géolocalisation du terminal et la configuration régionale à partir de laquelle le service est accessible, etc.</p>
        
         <p>Cookies d'analyse : ce sont ceux qui permettent de suivre et d'analyser le comportement des utilisateurs sur les sites Web. Les informations collectées par le biais de ce type de « cookies » sont utilisées pour mesurer l'activité des sites Web, des applications ou des plateformes et pour créer des profils de navigation des utilisateurs desdits sites, afin d'introduire des améliorations dans le service en fonction des données d'utilisation faites par les utilisateurs. .</p>
         <p>Cookies publicitaires : ce sont ceux qui permettent la gestion efficace des espaces publicitaires qui ont été inclus dans la page Web ou l'application à partir de laquelle le service est fourni en fonction de critères tels que le contenu édité ou la fréquence à laquelle ils sont affichés. les publicités.</p>
         <p> Cookies publicitaires comportementaux : ce sont ceux qui permettent la gestion efficace des espaces publicitaires qui ont été inclus dans la page Web ou l'application à partir de laquelle le service est fourni. Ces cookies stockent des informations sur le comportement de l'utilisateur par l'observation, permettant ensuite le développement d'un profil spécifique pour afficher des publicités basées sur celui-ci.</p>
         <h2>Comment les cookies sont configurés</h2>
         <p>Nous vous informons que vous pouvez configurer le navigateur pour refuser ou accepter les cookies, ou configurer le navigateur pour que ces cookies soient automatiquement supprimés une fois le navigateur, l'ordinateur ou l'appareil fermé.</p>
        
        
         <h3>De la manière suivante, vous pouvez voir comment les cookies des différents navigateurs sont modifiés :</h3>
         <ul>
          <li>Google Chrome>Paramètres>Afficher les options avancées>Confidentialité>Paramètres de contenu>Cookies.</li>
          <li>Firefox>Outils>Options>Confidentialité>Historique>Paramètres personnalisés.</li>
          <li>Internet Explorer>Outils>Options Internet>Confidentialité>Avancé</li>
          <li>Safari>Préférences>Confidentialité.</li>
         </ul>
         <p>N'oubliez pas non plus que si vous partagez le contenu du portail Web avec des amis via des réseaux sociaux tels que Facebook et Twitter, vous pouvez recevoir des cookies de ces sites Web. Nous ne pouvons pas contrôler les paramètres des cookies tiers, nous vous suggérons donc de consulter ces sites Web tiers pour plus d'informations sur leurs cookies et sur la manière de les gérer.</p>
         <h2>Mises à jour et modifications de la politique de confidentialité/cookies :</h2>
         <p>Gastrogune.eus peut modifier cette politique de cookies en fonction d'exigences législatives ou réglementaires, ou afin d'adapter ladite politique aux instructions émises par l'Agence espagnole de protection des données, il est donc conseillé aux utilisateurs de la visiter périodiquement.</p>
         <p>Lorsqu'il y a des changements significatifs dans cette politique de cookies, ils seront communiqués aux utilisateurs via le Web.</p>
       
      </section> 
      {% endif %}

      </div>

      
    
    {% endblock %}
    
