{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block 'title' %}{% trans 'Recover password' %}{% endblock %}

{% block 'content' %}

<div class="row p-5 text-center">
  <div class="col-lg-5 col-md-0"></div>
  <div class="col-lg-2 col-md-12">

      <h1>{% trans 'Recover password' %}</h1>
      {% if form.errors %}
        <p>
          {% trans 'There is no user with the indicated email.' %}
        </p>
      {% else %}
        <p>{% trans 'Use the following form to recover password, if you do not have an account register here' %}: <a href="{% url 'register' %}">{% trans 'Register' %}</a></p>
      {% endif %}

      <div class="login-form">
        <form action="." method="post">{% csrf_token %}
            {{ user_form.as_p }}
          
          <input type="hidden" name="next" value="{{ next }}" />
          <p><input type="submit" value="{% trans 'Send' %}"></p>
        </form>
        
        
      </div>
  </div>

  <div class="col-lg-5 col-md-0"></div>
</div>
  
{% endblock %}