{% extends "base.html" %}

{% block 'title' %}Login{% endblock %}

{% block 'content' %}

<div class="row p-5 text-center">
  <div class="col-lg-5 col-md-0"></div>
  <div class="col-lg-2 col-md-12">

      <h1>Iniciar sesión / Saioa hasi</h1>
      {% if form.errors %}
        <p>
          Tu nombre o contraseña no es correcto / Zure erabiltzaiea edo pasahitza ez da zuzena
          Inténtelo de nuevo / Berriz saiatu
        </p>
      {% else %}
        <p>Utiliza el siguiente formulario para logearte, si no tiene una cuenta regístrate aquí: <a href="{% url 'register' %}">Registrarse</a></p>
        <p>Urrengo formularioa erabili ezazu saioa hasteko, erabiltzaile konturik ez baduzu, sortu ezazu bat: <a href="{% url 'register' %}">Erregistratu</a></p>
      {% endif %}
      <div class="login-form">
        <form action="{% url 'login' %}" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <p><input type="submit" value="Log-in"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
        
      </div>
  </div>

  <div class="col-lg-5 col-md-0"></div>
</div>
  
{% endblock %}